        # Local Terraform directories
        .terraform/
        .terraform.lock.hcl

        # Terraform state files
        *.tfstate
        *.tfstate.backup

        # Crash log files
        crash.log

        # Files containing sensitive data (e.g., variable files)
        *.tfvars
        *.tfvars.json

        # Terraform override files
        override.tf
        override.tf.json
        *_override.tf
        *_override.tf.json

        # Terraform plan files
        *.tfplan
        *.exe
        **/.terraform/
